@charset "utf-8";

body {
	font-family:Arial, Helvetica, sans-serif;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

section[data-role='page'] {
	min-height: 100%;
  	width: 100%;
  	height: 100%;
  	position: fixed;
  	top: 0;
  	left: 0;
    background:url(../images/bgImages/circle1.png) -108px -108px repeat, url(../images/bgImages/circle2.png) -24px -24px repeat #00b6f1;
	text-align: center;
	box-shadow:inset 0 0 95px rgba(0,0,0,.70);
    -webkit-box-shadow:inset 0 0 95px rgba(0,0,0,.70);
    -moz-box-shadow:inset 0 0 95px rgba(0,0,0,.70);
}

#adultAge, #childAge {
    display: none;
    top: 8px;
    width: 180px;
    margin: 0 auto;
}

#initScreen img {
	text-align:center;
	border: 2px solid #000;
	border-radius: 1em;
	margin-bottom: 1em;
}

.confirmMessage {
	text-align:center;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 1em;
	padding: 8px;
	width: 80%;
	margin: 12px auto;
}

#registerForm {
	width: 75%;
	min-width: 300px;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
}

form ul li.box {
	margin: 0 0 4px 0;
	-webkit-border-radius:4px;
	border: 1px solid #666666;
	padding: 4px;
}

form ul li.clear {
	-webkit-border-radius: 0;
	border: 0;
	padding: 0;
}

form ul {
		margin: 0;
		padding: 6px;
		list-style-type:none;
}

.firstNameLabel  {
	font-size: 18px;
	text-shadow: none;
}

.fpButton {
    color:#333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    height: 45px;
    width: 150px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow:rgba(0,0,0,0.5) 4px 4px 24px;
    text-shadow: -1px -1px 1px #ccc;
    border: solid #b8b8b8 2px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff7fb), to(#d1cdcf));
    background: -moz-linear-gradient(top, #fff7fb, #d1cdcf);
}
.fpButton:active {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(255,255,255,0.85);
}

.foodIcons {
	padding-top:24px;
	clear:both;
	text-align:center;
}

#childAgeGroup, #adultAgeGroup {
    width: 325px;
    margin: 0 auto;
}
#main {
	clear:both;
}
#colwrap1 {
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 112px;
}
#fruitempty {
	margin-left: 0;
	margin-top: 0;
	display: inline;
	float: left;
	height: 81px;
	margin-bottom: 0;
	width: 112px;
}
#vegempty {
	margin-left: 0;
	margin-top: 0;
	display: inline;
	float: left;
	height: 93px;
	margin-bottom: 0;
	width: 112px;
}
#colwrap2 {
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 122px;
}
#grainempty {
	margin-left: 0;
	margin-top: 0;
	display: inline;
	float: left;
	height: 93px;
	margin-bottom: 0;
	width: 122px;
}
#proteinempty {
	margin-left: 0;
	margin-top: 0;
	display: inline;
	float: left;
	height: 81px;
	margin-bottom: 0;
	width: 122px;
}
#text {
	margin-left: 0;
	margin-top: 0;
	display: inline;
	float: left;
	height: 40px;
	margin-bottom: 0;
	width: 234px;
}
#iconList li {
	list-style-image:none;
	display:inline;
}
#content {
	margin-left:10%;
	margin-right:10%;
}
#foodPlateWrapper, #stats {
	width: 235px;
	margin: auto auto;
}

#status {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 8px;
}

#status p {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

#statusContainer {
    background-color: #f6e6b4;
    margin-left: 0;
    margin-top: 0;
}

#staticHeader, #registerHeader, #addFoodHeader {
	height: 67px;
	display: flex;
	align-items: center;
}

#staticHeader>img, #registerHeader>img, #addFoodHeader>img {
	z-index: 100;
}

/* *********************************************************** jqmobile css overrides */
.ui-header .ui-title {
    font-size: 24px;
    background-color: #0071bc; /*{a-bar-background-color}*/
    border-color: #003e67; /*{a-bar-border}*/
    color: #ffffff; /*{a-bar-color}*/
    text-shadow: 0 1px 0 #444444; /*{a-bar-shadow-color}*/
    font-weight: bold;
    width: 100%;
	margin: 0;
}
.ui-content {
    margin-bottom: 42px; /* Set this to whatever your footer size is... */
}
.ui-footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    font-size: 24px;
    background-color: #0071bc; /*{a-bar-background-color}*/
    border-color: #003e67; /*{a-bar-border}*/
    color: #ffffff; /*{a-bar-color}*/
    text-shadow: 0 1px 0 #444444; /*{a-bar-shadow-color}*/
    font-weight: bold;
}

 .ui-controlgroup-label, label.ui-input-text {
    font-size: 18px;
    text-shadow: none;
    font-weight: 600;
	background-color: white;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
	font-size: 24px;
	background-color: #0071bc; /*{a-bar-background-color}*/
	border-color: #003e67; /*{a-bar-border}*/
	color: #ffffff; /*{a-bar-color}*/
	text-shadow: 0 1px 0 #444444; /*{a-bar-shadow-color}*/
	font-weight: bold;
	width: 100%;
	margin: 0;
	min-height: 1.1em;
}

button.ui-btn {
	width: 150px;
	margin: 3em auto;
}

/* accessibility classes */
.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
